.input {
  display: flex;
  width: 100%;
  height: 3rem;
  padding: 0 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--color-gray-600);
  border-radius: var(--border-radius-sm);
  background: transparent;
  transition: var(--transition);

  &:focus {
    border: 2px solid var(--color-telegram-500);
    outline: none;
  }

  &::placeholder {
    color: var(--color-gray-600)
  }

  &:disabled {
    background: var(--color-gray-700);
    color: var(--color-gray-400);
  }
}
