.button {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  font-size: 1.1rem;
  border: none;
  border-radius: var(--border-radius-sm);
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: var(--transition);

  &.telegram {
    color: var(--color-white);
    background: var(--color-telegram-500);

    &:hover {
      background: var(--color-telegram-600);
    }
  }

  &.red {
    color: var(--color-white);
    background: var(--color-red-500);

    &:hover {
      background: var(--color-red-600);
    }
  }
}
