.task-list-element {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: 2px solid var(--color-gray-700);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  background: var(--color-gray-700);

  .task {
    display: flex;
    gap: 2px;

    .task-details {
      display: flex;
      width: 100%;
      gap: 2px;
      flex-direction: column;

      .task-name {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        padding: 0.5rem;
        background: var(--color-gray-900);
        color: var(--color-gray-600);
      }

      .task-action {
        display: flex;
        min-height: 2rem;
        align-items: center;
        justify-content: center;
        background: var(--color-gray-900);
        color: var(--color-gray-600);
        user-select: none;
        transition: var(--transition);
        cursor: pointer;

        &:hover {
          background: var(--color-gray-800);
          color: var(--color-gray-400);
        }
      }
    }

    .task-status {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }

  &.simplify {
    gap: 0;

    .task-expand {
      height: 0;
      padding: 0;
      margin-top: 0;
      opacity: 0;
      z-index: -99;
    }
  }

  .task-expand {
    display: flex;
    gap: 2px;

    .task-expand-details {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.5rem;
      background: var(--color-gray-900);

      .details-element {
        display: flex;
        gap: 0.5rem;
        color: var(--color-gray-500);

        &.col {
          flex-direction: column;
          gap: 0;
        }

        .files-list {
          display: flex;
          flex-direction: column;
          width: 100%;
          flex-wrap: wrap;
          gap: 0.5rem;
          padding: 0.5rem;
          border-left: 2px solid var(--color-gray-700);

          .files-list-element {
            color: var(--color-gray-400);
            cursor: pointer;
            transition: var(--transition);

            &:hover {
              color: var(--color-white);
            }
          }

          .file-upload {
            display: flex;
            width: fit-content;
            cursor: pointer;

            .file-upload-input {
              display: none;
            }
          }
        }

        .details-action {
          display: flex;
          padding-top: 1rem;
          color: var(--color-gray-600);
          cursor: pointer;
          transition: var(--transition);

          &:hover {
            color: var(--color-gray-400);
          }
        }
      }
    }
  }

  .accent {
    display: flex;
    color: var(--color-telegram-500);
  }
}
