:root {
    --border-radius-sm: 0.25rem;
    --border-radius: 0.5rem;
    --transition: 0.1s;

    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-whiteAlpha-50: rgba(255, 255, 255, 0.04);
    --color-whiteAlpha-100: rgba(255, 255, 255, 0.06);
    --color-whiteAlpha-200: rgba(255, 255, 255, 0.08);
    --color-whiteAlpha-300: rgba(255, 255, 255, 0.16);
    --color-whiteAlpha-400: rgba(255, 255, 255, 0.24);
    --color-whiteAlpha-500: rgba(255, 255, 255, 0.36);
    --color-whiteAlpha-600: rgba(255, 255, 255, 0.48);
    --color-whiteAlpha-700: rgba(255, 255, 255, 0.64);
    --color-whiteAlpha-800: rgba(255, 255, 255, 0.80);
    --color-whiteAlpha-900: rgba(255, 255, 255, 0.92);
    --color-blackAlpha-50: rgba(0, 0, 0, 0.04);
    --color-blackAlpha-100: rgba(0, 0, 0, 0.06);
    --color-blackAlpha-200: rgba(0, 0, 0, 0.08);
    --color-blackAlpha-300: rgba(0, 0, 0, 0.16);
    --color-blackAlpha-400: rgba(0, 0, 0, 0.24);
    --color-blackAlpha-500: rgba(0, 0, 0, 0.36);
    --color-blackAlpha-600: rgba(0, 0, 0, 0.48);
    --color-blackAlpha-700: rgba(0, 0, 0, 0.64);
    --color-blackAlpha-800: rgba(0, 0, 0, 0.80);
    --color-blackAlpha-900: rgba(0, 0, 0, 0.92);
    --color-gray-50: #F7FAFC;
    --color-gray-100: #EDF2F7;
    --color-gray-200: #E2E8F0;
    --color-gray-300: #CBD5E0;
    --color-gray-400: #A0AEC0;
    --color-gray-500: #718096;
    --color-gray-600: #4A5568;
    --color-gray-700: #2D3748;
    --color-gray-800: #1A202C;
    --color-gray-900: #161b22;
    --color-red-50: #FFF5F5;
    --color-red-100: #FED7D7;
    --color-red-200: #FEB2B2;
    --color-red-300: #FC8181;
    --color-red-400: #F56565;
    --color-red-500: #d34848;
    --color-red-600: #C53030;
    --color-red-700: #9B2C2C;
    --color-red-800: #822727;
    --color-red-900: #63171B;
    --color-green-50: #F0FFF4;
    --color-green-100: #C6F6D5;
    --color-green-200: #9AE6B4;
    --color-green-300: #68D391;
    --color-green-400: #48BB78;
    --color-green-500: #38A169;
    --color-green-600: #2F855A;
    --color-green-700: #276749;
    --color-green-800: #22543D;
    --color-green-900: #1C4532;
    --color-telegram-50: #E3F2F9;
    --color-telegram-100: #C5E4F3;
    --color-telegram-200: #A2D4EC;
    --color-telegram-300: #7AC1E4;
    --color-telegram-400: #47A9DA;
    --color-telegram-500: #2a90c3;
    --color-telegram-600: #007AB8;
    --color-telegram-700: #006BA1;
    --color-telegram-800: #005885;
    --color-telegram-900: #003957;
}
