@font-face {
    font-family: 'Rubik Regular';
    src: url('assets/Rubik-Regular.ttf') format('truetype');
}

html {
    background: var(--color-gray-900);
}

html * {
    box-sizing: border-box;
    font-family: 'Rubik Regular', sans-serif;
    color: var(--color-white);
}

body, p, ul {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.w-100 {
    width: 100%;
}
