.task-status-label {
  display: flex;
  width: 100%;
  min-height: 2rem;
  padding: 0 0.25rem;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: var(--color-gray-600);

  &.active-0,
  &.active-1,
  &.active-2 {
    color: var(--color-white);
  }

  &.active-0 {
    background: var(--color-red-500);
  }

  &.active-1 {
    background: var(--color-telegram-500);
  }

  &.active-2 {
    background: var(--color-green-500);
  }
}
