.project-page {
  display: flex;
  width: 100%;
  justify-content: center;

  .project-page-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    padding: 0.25rem;

    .project-title {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 0.5rem;
      padding: 1rem;
      border-radius: var(--border-radius);
      background: var(--color-gray-800);

      .project-name {
        font-size: 1.5rem;
      }

      .project-actions {
        display: flex;
        gap: 1rem;

        .project-action {
          display: flex;
          width: fit-content;
          align-items: center;
          color: var(--color-gray-500);
          user-select: none;
          cursor: pointer;
          transition: var(--transition);

          &:hover {
            color: var(--color-white);
          }
        }
      }

      .back-link {
        width: fit-content;
        color: var(--color-telegram-500);
        transition: var(--transition);

        &:hover {
          color: var(--color-gray-500);
        }
      }
    }

    .label {
      color: var(--color-gray-400);
    }
  }
}

@media screen and (min-width: 576px) {
  .project-page {
    .project-page-content {
      .project-edit {
        .project-edit-actions {
          .project-edit-action {
            width: calc((100% - 0.5rem) / 3);
          }
        }
      }
    }
  }
}
