.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--color-blackAlpha-700);
  backdrop-filter: blur(1rem);
  z-index: 999;
  transition: var(--transition);

  &.hidden {
    opacity: 0;
    z-index: -1;
  }

  .modal-window {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    background: var(--color-gray-900);

    .title {
      text-align: center;
    }

    .content {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
      padding: 2rem 0.5rem;
      gap: 0.5rem;
      border-bottom: 1px solid var(--color-whiteAlpha-300);

      .modal-element {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 0.25rem;
      }

      .modal-label {
        display: flex;
        gap: 0.25rem;

        .accent {
          color: var(--color-telegram-500) !important;
        }
      }
    }

    .actions {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      gap: 0.5rem;
      padding: 0.5rem;
    }
  }
}

@media screen and (min-width: 576px) {
  .modal {
    .modal-window {
      max-width: 32rem;
    }
  }
}
