.task-add {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
  margin-top: 0.25rem;
  border-radius: var(--border-radius);
  background: var(--color-gray-800);

  &.hidden {
    height: 0;
    padding: 0;
    margin-top: 0;
    opacity: 0;
    z-index: -99;
  }

  .task-add-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0.25rem;

    .task-add-title {
      width: 100%;
      color: var(--color-gray-500);
      margin: 0;
    }

    .task-add-element {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .task-add-label {
        color: var(--color-gray-400);
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .task-add {
    .task-add-form {
      flex-direction: row;
      flex-wrap: wrap;

      .task-add-element {
        width: calc((100% - 0.25rem) / 2);

        &.button {
          width: calc((100% - 0.5rem) / 3);
        }
      }
    }
  }
}
