.home-page {
  display: flex;
  width: 100%;
  justify-content: center;

  .home-page-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem;

    .title {
      text-align: center;
    }

    .label {
      align-self: flex-start;
      color: var(--color-gray-400);
    }

    .add-container {
      display: flex;
      width: 100%;

      .add-field {
        border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);
      }

      .add-button {
        border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
      }
    }

    .projects-list {
      display: flex;
      width: 100%;
      flex-direction: column;
      margin-top: 1rem;
      gap: 0.5rem;

      .projects-list-element {
        display: flex;
        gap: 2px;
        align-items: center;
        border-radius: var(--border-radius-sm);
        overflow: hidden;
        border: 2px solid var(--color-gray-600);

        .link {
          display: flex;
          width: 100%;
          min-height: 3rem;
          align-items: center;
          padding: 0.5rem;
          overflow: hidden;
          background: var(--color-gray-800);
          transition: var(--transition);

          &:hover {
            background: var(--color-gray-700);
          }
        }

        .icon {
          display: flex;
          height: 100%;
          align-items: center;
          overflow: hidden;
          background: var(--color-gray-800);
          cursor: pointer;
          transition: var(--transition);

          .edit-icon,
          .trash-icon {
            display: flex;
            width: 3rem;
            height: 3rem;
            padding: 0.25rem;
            fill: var(--color-gray-600);
          }

          &:hover {
            background: var(--color-gray-700);

            .edit-icon {
              fill: var(--color-telegram-500);
            }

            .trash-icon {
              fill: var(--color-red-500);
            }
          }
        }
      }
    }
  }
}
