.project-edit {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  margin-top: 0.25rem;
  border-radius: var(--border-radius);
  background: var(--color-gray-800);
  overflow: hidden;
  transition: var(--transition);

  &.hidden {
    height: 0;
    padding: 0;
    margin-top: 0;
    opacity: 0;
    z-index: -99;
  }

  .project-edit-title {
    width: 100%;
    color: var(--color-gray-500);
    margin: 0;
  }

  .project-edit-actions {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.25rem;

    .project-edit-action {
      width: 100%;
    }
  }
}

@media screen and (min-width: 576px) {
  .project-edit {
    .project-edit-actions {
      .project-edit-action {
        width: calc((100% - 0.5rem) / 3);
      }
    }
  }
}
