.comments-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: var(--border-radius-sm);

  &.subcomments {
    border: none;
  }

  .comments-list-element {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0 0.5rem 1rem;
  }

  .comments-add {
    display: flex;
    width: 100%;

    .comments-add-input {
      border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);
    }

    .comments-add-button {
      border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
    }
  }

  $colors: var(--color-gray-500), var(--color-red-500), var(--color-telegram-500), var(--color-green-500);

  @mixin levels {
    @for $i from 1 through length($colors) {
      &.l-#{$i} {
        > .comments-list-element {
          border-left: 2px solid nth($colors, $i);
        }
      }
    }
  }

  @include levels;
}
