.task-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-top: 0.25rem;
  border-radius: var(--border-radius);
  background: var(--color-gray-800);

  &.subtasks {
    padding: 0;
    margin-top: 0;
    border-radius: var(--border-radius-sm);
    background: transparent;
  }

  .task-list-title {
    width: 100%;
    color: var(--color-gray-500);
    margin: 0;
  }

  .task-list-filter {
    display: flex;
    gap: 0.5rem;
  }
}
